{+include("template-includes/header.html")+}

<div class="one-third">
	{+publish.classesIndex+}
</div>

<div id="api_content_wrapper" class="two-thirds">
	<div id="api_content">
		<div class="right-align">
			<span class="refreshBtn">
				<button class="round-button has-tooltip" onclick="generateDocs()">
			   		<span class="button-image"></span>
			       		<span class="tooltip">Build JsDoc</span>
			   	</button>
			</span>
		</div>
		
		<div class='free-content'>
			{+include("initial-content.html")+}
		</div>
		
	</div>
</div>

{+include("template-includes/footer.html")+}