[submodule "cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/fell"]
	path = cutlass-sdk/workspace/sdk/libs/javascript/fell
	url = https://github.com/BladeRunnerJS/fell.git
[submodule "cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/emitr"]
	path = cutlass-sdk/workspace/sdk/libs/javascript/emitr
	url = https://github.com/BladeRunnerJS/emitr.git
[submodule "cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/topiarist"]
	path = cutlass-sdk/workspace/sdk/libs/javascript/topiarist
	url = https://github.com/BladeRunnerJS/topiarist.git
[submodule "cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/browser-modules"]
	path = cutlass-sdk/workspace/sdk/libs/javascript/browser-modules
	url = https://github.com/BladeRunnerJS/browser-modules.git
