[submodule "cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/fell"]
	path = cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/fell
	url = https://github.com/BladeRunnerJS/fell.git
[submodule "cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/topiary"]
	path = cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/topiary
	url = https://github.com/BladeRunnerJS/topiary.git
[submodule "cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/emitter"]
	path = cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/emitter
	url = https://github.com/BladeRunnerJS/emitter.git
[submodule "cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/emitr"]
	path = cutlass-sdk/workspace/sdk/libs/javascript/thirdparty/emitr
	url = https://github.com/BladeRunnerJS/emitr.git
