# local excludes
/.gradle
/.settings
/.classpath
/.project
/.idea
/gradle-app.setting
/gradle/
/bin/
/build/
/out/

# nested project excludes
/*/*.gradle
/*/.gradle
/*/.settings
/*/.classpath
/*/.project
/*/.idea
/*/bin/
/*/build/
/*/test-results/

# recursive excludes
*.iml
js.bundle
**/WEB-INF/lib/brjs-*.jar
**/bundles/*.bundle
**/bundles/**/*.bundle
