<!DOCTYPE html>
<html>
	<head>
		<base href="@APP.VERSION@"/>
		
		<title>My Application</title>
		
		<@css.bundle theme="standard"@/>
		
	</head>
	<body>
		<p>Successfully loaded the application</p>

    <!-- dev-minifier can be set to "combined" for all JS content to be bundled with a single request -->
		<@js.bundle dev-minifier="none" prod-minifier="combined"@/>
		<script>
			( function() {

				// Register application EventHub. Required until the following is fixed:
				// https://github.com/BladeRunnerJS/brjs/issues/354
				var ServiceRegistry = require( 'br/ServiceRegistry' );
				var EventHub = require( 'br/EventHub' );
				ServiceRegistry.registerService( 'br.event-hub', new EventHub() );

				var App = require( '@appns/App' );
				var app = new App();

			} )();
		</script>
	</body>
</html>