<!DOCTYPE html>
<html>
	<head>
		<base href="@APP.VERSION@"/>
		
		<title>My Application</title>
		
		<@css.bundle theme="standard"@/>
		
	</head>
	<body>
		<p>Successfully loaded the application</p>

        <!-- dev-minifier can be set to "combined" for all JS content to be bundled with a single request -->
		<@js.bundle dev-minifier="none" prod-minifier="combined"@/>
		<script>
			( function() {

				var App = require( '@appns/App' );
				var app = new App();

			} )();
		</script>
	</body>
</html>