<!DOCTYPE html>
<html>
	<head>
		<title>Workbench</title>
		
		<@css.bundle theme="standard"@/>
		<@js.bundle@/>
		
		<script type="text/javascript">
			br.thirdparty('br-caplin');
			
			var ServiceRegistry = require( 'br/ServiceRegistry' );
			var DemoEventHub = require( 'br/DemoEventHub' );
			ServiceRegistry.registerService( 'demo-event-hub', new DemoEventHub() );
			
			function initialize() {
				var workbench = new br.workbench.Workbench(250, 310);
				var workbenchController = new @appns.@bladeset.@blade.workbench.WorkbenchController(200, 100);
				var presentationModel = workbenchController.getPresentationModel();
				var presentationModelViewer = new br.presenter.workbench.PresentationModelViewer(presentationModel);
				
				workbench.addToRightWing(presentationModelViewer, "Visualise Presentation Model", true);
				
				document.body.appendChild(workbenchController.getElement());
				workbench.center(workbenchController.getElement());
			}
		</script>
	</head>
	<body onload="initialize()">
	</body>
</html>