<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

    <!--[if lt IE 9]>
        <script src="scripts/polyfills.js"></script>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
        <script src="scripts/placeholder.min.js"></script>
    <![endif]-->

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <script src="scripts/functions.js"> </script>
    <script src="scripts/index-filter.js"> </script>

    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="styles/brjs.css">
    
    <!-- do not remove these references, they are used to customise the docs when they are generated for apidocs.bladerunnerjs.org -->
    <link type="text/css" rel="stylesheet" href="hosted-docs/hosted-docs.css">
    <script src="hosted-docs/hosted-docs.js"> </script>
</head>

<body onload="createAppLinks()">

<header id="brjs-nav">
    <div id="topnav">
        <ul>
            <li class="dashboard-link"><a href="/#"><b>BladeRunner</b>JS</a></li>
            <li class="releases-link"><a href="http://github.com/BladeRunnerJS/brjs/releases" target="_blank">Release Notes</a></li>
            <li class="apidocs-link"><a href="http://apidocs.bladerunnerjs.org/" target="_blank">BladeRunnerJS API Docs</a></li>
            <li class="brjs-site-link"><a href="http://bladerunnerjs.org/" target="_blank">BladeRunnerJS.org</a></li>
        </ul>
    </div>
    <br class="clearfloat">
    <div class="subnav">
        <ul>
            <li><a href="/dashboard" class="subnav-extend-btn"></a></li>
            <li><a id="appLink" class="subnav-btn">app</a></li>
            <li><div class="subnav-selected" >docs</div></li>
        </ul>
    </div>
</header>

<div id="main">

    <h1 class="page-title"><?js= title ?></h1>

    <?js= content ?>
</div>

<nav>
	<div id="filter-input-wrapper">
        <div id="filter-input">
        	<form onsubmit="return false;">
		    	<input type="text" list="package-prefixes" placeholder="package filter" oninput="packageFilter.updateDisplayedItems(this.value)"
		    	 onkeyup="packageFilter.onKeyUp(this, event)">
		    	<button type="button" onclick="packageFilter.setFilter('')"></button>
		    </form>
	    </div>
	</div>
	<datalist id="package-prefixes"></datalist>

    <?js= this.nav ?>
</nav>

<br clear="both">

<footer>
    Docs generated using BladeRunnerJS <?js= env.opts.query.version ?> on <?js= (new Date()) ?>
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
