<web-app>
	<!-- start-env: dev -->
      <filter>
          <filter-name>BladerunnerDevFilters</filter-name> 
          <filter-class>com.caplin.cutlass.filter.BladerunnerDevFilters</filter-class> 
      </filter>
      <!-- <filter-mapping>
          <filter-name>BladerunnerDevFilters</filter-name> 
          <url-pattern>/*</url-pattern> 
          <dispatcher>REQUEST</dispatcher>
          <dispatcher>FORWARD</dispatcher>
      </filter-mapping> -->
       <!--  end-env -->

	<filter>
          <filter-name>BladerunnerFilters</filter-name> 
          <filter-class>com.caplin.cutlass.filter.BladerunnerFilters</filter-class> 
      </filter>
      <filter-mapping>
          <filter-name>BladerunnerFilters</filter-name> 
          <url-pattern>/*</url-pattern> 
          <dispatcher>REQUEST</dispatcher>
          <dispatcher>FORWARD</dispatcher>
      </filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>