@font-face {
	font-family: "HelveticaNeueW01-Thin";
	src: url("fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?iefix") format("eot");
}
@font-face {
	font-family: "HelveticaNeueW01-Thin";
	src: url("fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?iefix");
	src: url("fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"), url("fonts/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype"), url("fonts/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg");
}
@font-face {
	font-family: "HelveticaNeueW01-55Roma";
	src: url("fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?iefix") format("eot");
}
@font-face {
	font-family: "HelveticaNeueW01-55Roma";
	src: url("fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?iefix");
	src: url("fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"), url("fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"), url("fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}
@font-face {
	font-family: "HelveticaNeueW01-77BdCn 692722";
	src: url("fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?iefix") format("eot");
}
@font-face {
	font-family: "HelveticaNeueW01-77BdCn 692722";
	src: url("fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?iefix");
	src: url("fonts/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"), url("fonts/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"), url("fonts/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}

.myclass {
  display: -moz-inline-box;
  display: inline-block;
}
* html .myclass { display:inline; }  /* for IE 6 */
* + html .myclass { display:inline; }  /* for IE 7 */
