.right-align {
	float: right;
}

.regeneratedDocsBtn .button-image {
	background-image: url(refresh-up.png);
}

button.round-button {
	float: right;
	margin: 15px 10px 0px 0px;
	border-width:0;
	
	-moz-transition: all 0.25s ease-out 0s;
	-webkit-transition: all 0.25s ease-out 0s;
	font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	color: #fff !important;
	text-shadow: 0px 1px 0px rgba(52, 121, 141, 1);
	text-decoration: none;
	line-height:30px;
	padding: 5px 5px 5px 5px;
	background-color: #54b0cb;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#54b0cb', endColorstr = '#3f97b2');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#54b0cb', endColorstr = '#3f97b2')";*/
	background-image: -moz-linear-gradient(top, #54b0cb, #3f97b2);
	background-image: -ms-linear-gradient(top, #54b0cb, #3f97b2);
	background-image: -o-linear-gradient(top, #54b0cb, #3f97b2);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#54b0cb), to(#3f97b2));
	background-image: -webkit-linear-gradient(top, #54b0cb, #3f97b2);
	background-image: linear-gradient(top, #54b0cb, #3f97b2);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	overflow: visible;
}

button.round-button:hover {
	color: #fff;
	text-shadow: 0px 1px 0px rgba(52, 121, 141, 1);
	text-decoration: none;
	background-color: #226f86;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#328aa4', endColorstr = '#226f86');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#328aa4', endColorstr = '#226f86')";*/
	background-image: -moz-linear-gradient(top, #328aa4, #226f86);
	background-image: -ms-linear-gradient(top, #328aa4, #226f86);
	background-image: -o-linear-gradient(top, #328aa4, #226f86);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#328aa4), to(#226f86));
	background-image: -webkit-linear-gradient(top, #328aa4, #226f86);
	background-image: linear-gradient(top, #328aa4, #226f86);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	cursor: pointer;
}


button.round-button:active {
 background-color:#1c596c;
 background-image:none;
 box-shadow:inset 0px 1px 3px rgba(0, 0, 0, 0.7);
}

button.round-button .button-image {
	display:block;
	background-repeat:no-repeat;
	text-indent:28px;
	padding:5px;
	width:22px;
	height:22px;
}

.has-tooltip {
    background: #ececec;
    color: #555;
    font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
    font-size: 16px;
	font-weight:bold;
    position: relative;
    text-align: center;
	width: auto;
	z-index: 99;
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
	
	
}

.has-tooltip .tooltip {
    background: #d0ebf2;
    bottom: 100%;
    color: #424242;
	line-height: 18px;
    display: block;
    left: -11px;
    margin-bottom: -110px;
    opacity: 0;
    padding: 15px;
    position: absolute;
    visibility: hidden;
    width: 100%;
	
	
	
	 -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
       -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
        -ms-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
         -o-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
			
    -webkit-transform: translateY(10px);
       -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
         -o-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
         -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.has-tooltip .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

/* CSS Triangles - see Trevor's post */
.has-tooltip .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid #d0ebf2 10px;
    top: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}
  
.has-tooltip:hover .tooltip {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
}