/**
 * LAYOUT
 * - the master layout of the main three areas on the page
 *   (toc, tutoral, code)
 */

/**
 * the containers for our column layouts
 * - main is nested as the 2nd column of content, eg
 *   %content
 *     %nav
 *     %main
 *       %mainInner
 *         %tutorial
 *         %chapter-number ( absolutely positioned, sits behind #code)
 *         %code
 **/
div#content,
div#mainInner {
	position: relative; /* allow relative-absolute positioning of children */
}
/** Direct children of containers and internal containers to stretch full height */
div#content > *,
div#mainInner,
div#mainInner > * {
	height: 100%;
}

/** Position the left-most column of each container absolutely */
div#content > nav#toc,
div#mainInner > #tutorial {
	position: absolute;
	overflow-y:auto;
}

/**
 * Stretch the right-most column of each container to take full space
 * - padding will be added to make "100%" equal 100%
 *   minus the width of the left column
 **/
div#content > #main,
div#mainInner > #code {
	width: 100%;
}

/**
 * Size the TOC and when hidden (no .show_toc) move it left by its width
 */
div#content {
	padding-left: 0px;
}
nav#toc {
	left: -295px;/* must be the same as 0-width */
	width:295px;
}
.show_toc nav#toc {
	left: 0px;
}
/**
 * Adjust parent of toc to move the right column to the
 * correct position when the TOC is showing
 **/
div#content.show_toc {
	padding-left:295px; /* must be the same as toc width */
}
/**
 * toc transitions
 **/
div#content.anim nav#toc {
	-webkit-transition:left ease 500ms;
	-moz-transition:left ease 500ms;
	-o-transition:left ease 500ms;
	-msie-transition:left ease 500ms;
}
div#content.anim {
	-webkit-transition:padding ease 500ms;
	-moz-transition:padding ease 500ms;
	-o-transition:padding ease 500ms;
	-msie-transition:padding ease 500ms;
}

/**
 * Set the initial width of the tutorial wrapper, and adjust #main (its
 * container) so the code area can take up "100%" of the remainder
 */
div#tutorial {
	left: 0px;
	width:450px;
}
div#mainInner {
	padding-left: 450px; /* must be the same as tutorial width */
}
div#chapter-number { /*absolutely positioned, sits behind #code */
	position: absolute;
	left: 450px;
	right: 0px;
}

/*#code {
	overflow: hidden;
}
/*	#code{
header {
text-align: right;
}
}*/


