<?xml version="1.0"?>
 <!DOCTYPE Configure PUBLIC "-//Mort Bay Consulting//DTD Configure//EN" "http://jetty.mortbay.org/configure.dtd">
 
 <web-app>
      <display-name>Cutlass Filters Test</display-name>


      <servlet>
          <servlet-name>DefaultServlet</servlet-name> 
          <servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class> 
          <load-on-startup>1</load-on-startup> 
      </servlet>
      <servlet-mapping>
          <servlet-name>DefaultServlet</servlet-name> 
          <url-pattern>/*</url-pattern> 
      </servlet-mapping>

      <filter>
          <filter-name>BladerunnerFilters</filter-name> 
          <filter-class>com.caplin.cutlass.filter.BladerunnerFilters</filter-class> 
      </filter>
      <filter-mapping>
          <filter-name>BladerunnerFilters</filter-name> 
          <url-pattern>/*</url-pattern> 
          <dispatcher>REQUEST</dispatcher>
          <dispatcher>FORWARD</dispatcher>
      </filter-mapping>

 <Configure class="org.eclipse.jetty.webapp.WebAppContext">
 
   <!-- Add an EnvEntry only valid for this webapp               -->
   <New id="test"  class="org.eclipse.jetty.plus.jndi.EnvEntry">
     <Arg>test</Arg>
     <Arg type="java.lang.Double">100</Arg>
     <Arg type="boolean">true</Arg>
   </New>
   
 </Configure>
  </web-app>
 
 
 