h1 {
	background-image: url("img.png");
}

h2 {
	background-image: url("child-dir/img.png");
}

h3 {
	background-image: url("child-dir/../img.png");
}

h3.spaces {
	background-image: url( "child-dir/../img.png" );
}

h3.noQuotes {
	background-image: url(child-dir/../img.png);
}

h3.singleQuotes {
	background-image: url('child-dir/../img.png');
}