<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>JSDoc: <?js= title ?></title>

    <script src="scripts/functions.js"> </script>
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.min.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/hosted-docs.css">
    <link type="text/css" rel="stylesheet" href="styles/styles.css">
</head>

<body onload="createAppLinks()">

    <header>
        <div id="topnav">
            <ul>
                <li class="dashboard-link"><a href="/#"><b>BladeRunner</b>JS</a></li>
                <li><a href="http://github.com/BladeRunnerJS/brjs/releases" target="_blank">Release Notes</a></li>
                <li><a href="http://bladerunnerjs.org/" target="_blank">BladeRunnerJS.org</a></li>
            </ul>
        </div>
        <br class="clearfloat">

        <div class="subnav">
            <ul>
                <li><a href="/dashboard" class="subnav-extend-btn"></a></li>
                <li><a id="appLink" class="subnav-btn">app</a></li>
                <li><div class="subnav-selected" >docs</div></li>
            </ul>
        </div>

    </header>

    <div class="container-fluid">
        <div class="row">
            <div id="main" class="col-sm-push-5 col-sm-7 col-md-push-4 col-md-8">
                <?js= content ?>
            </div>

            <nav class="col-sm-pull-7 col-sm-5 col-md-pull-8 col-md-4">
                <?js= this.nav ?>
            </nav>
        </div>

        <br clear="both">

        <footer>
        </footer>
    </div>

    <script> prettyPrint(); </script>
    <script src="scripts/linenumber.js"> </script>
</body>
</html>
