#code{
	font-family: monospace;
	font-style: normal;
	font-weight: normal;
}

#code #model,
#code #code_tabs{
	/*border-left:1px solid #000;*/
}

#code #model #code_content {
	height: 100%;
	margin-bottom: -6px; /* height of splitter */
	position: relative;
}

#code #model #splitter {
	height:6px;
	position: absolute;
	bottom: 0px;
	width:100%;
	background:url('images/splitter.png') repeat-x;
	cursor:n-resize;
}

#code_tabs {
	height:29px;
	background:#f4f4f4;
	box-shadow:inset 0px 0 2px rgba(0,0,0,0.5);
	text-align: right;
	overflow: hidden;
}

#code_tabs .tab,
#view #result_header {
	font-family: 'HelveticaNeueW01-55Roma';
	font-size: 11px;
	color:#b2b2b2;
	height:29px;
	position: relative;
	padding:0 20px;
}

#code_tabs .tab {
	float:right;
	text-align: center;
	cursor: pointer;
}

#code_tabs .bottom {
	height:4px;
	top: 25px;
	position: absolute;
	z-index: 1;
	width:100%;
	background-color: #3f97b2;
}

#code_tabs .tab .top{
	height:4px;
	top: 0px;
	left:0;
	position: absolute;
	z-index: 1;
	width:100%;
}

#code_tabs .tab span,
#view #result_header span{
	margin-top: 2px;
	display: block;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.4),0 -1px 1px rgba(0, 0, 0, 0.1);
}
#code_tabs .tab:hover span{
	color:#555;
}

#code_tabs .active span,
#code_tabs .active:hover span{
	color:#fff;
}

#code_tabs .tab.active .top{
	display: none;
}
#code_tabs .tab.active {
	height:25px;
}

#code_tabs .tab.active {
	background: #54b0cb; /* Old browsers */
	background: -moz-linear-gradient(top,  #54b0cb 27%, #3f97b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,#54b0cb), color-stop(100%,#3f97b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* IE10+ */
	background: linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b0cb', endColorstr='#3f97b2',GradientType=0 ); /* IE6-9 */
}

#code #view_editor_container{
	display:none;
}

.CodeMirror-gutter{
	border:none !important;
}


#view{
	color:#fff;
	font:12px arial,sans-serif;
	position: relative;
}

#model #error{
	height: 18px;
	position: relative;
	width: 100%;
	bottom: 6px;
	font: 12px arial, sans-serif;
	font-weight: bold;
	padding: 5px 10px;
	color: #990000;
	visibility: hidden;
	display: none;
}
#model.error #error {
	visibility: visible;
	display: block;
}
#model #error b{
	font: 15px ModernPictogramsNormal;
	position: relative;
	top:1px;
	margin-right: 5px;
}

#view #result_header {
	position: relative;
	padding: 4px;
	padding-bottom: 0px;
}

#view #result_header h2 {
	color: #bcbcbc;
	margin-left: 10px;
}

#view header:after{
	content: "E";
	margin: 6px;
	font: 18px ModernPictogramsNormal;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
	color: #000;
	opacity: 0.5;
}
#view header:before{
	content: "";
	position: absolute;
	width: 88px;
	height: 28px;
	right: 1px;
	bottom: 0px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.8);
	opacity: 0.2;
	-webkit-box-shadow: 0 0 0 0, -4px -2px 8px rgba(0, 0, 0, 0.7) inset;
	-moz-box-shadow: 0 0 0 0, -4px -2px 8px rgba(0, 0, 0, 0.7) inset;
	box-shadow: 0 0 0 0, -4px -2px 8px rgba(0, 0, 0, 0.7) inset;
}


#view #error_cover{
	display:none;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background:url('images/error_stripes.png') repeat;
	z-index: 3;
}


#view #result.error{
	opacity: 0.3;
}
#view #error .content{
	padding:4px;
}

#code_controls {
	margin: 6px;
	height: 20px;
}
#reset-button {
	margin: 4px;
	cursor: pointer;
	top: 4px;
	display:none;
	left: 8px;
	font-family: Trebuchet MS, sans-serif;
	font-size: 12px;
	color: #fff;
	padding: 2px 10px 1px;
	background: #54b0cb; /* Old browsers */
	background: -moz-linear-gradient(top,  #54b0cb 27%, #3f97b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,#54b0cb), color-stop(100%,#3f97b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* IE10+ */
	background: linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b0cb', endColorstr='#3f97b2',GradientType=0 ); /* IE6-9 */
	border-radius: 21px;
	border: 1px solid #469db6;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.4),inset 0px 0px 5px rgba(181,181,181,0);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.4),inset 0px 0px 5px rgba(181,181,181,0);
	text-shadow: 0px-1px 3px rgba(255, 255, 255, 0.9),0px 1px 0px rgba(255, 255, 255, 0.3);
}
#reset-button:hover{
	box-shadow: 0 0 10px rgba(0, 162, 238, 1), 0 0 2px rgba(255, 255, 255, 0.6);
}
#reset-button b{
	font:18px ModernPictogramsNormal;
}
