

/**
* UI Controls
*/
ul.ctrl{
	list-style-type: none;
	padding:0;
	float:left;
	left:26px;
	position:absolute;
	height:26px;
	border-right:1px solid rgba(0,0,0,0.4);
	margin-right: 10px;
}

ul.ctrl li{
	margin:0;
	padding:0;
	width:26px;
	font-size: 23px;
	font-family: 'ModernPictogramsNormal';
	color:#242424;
	text-shadow:0px -1px 0px rgba(0,0,0,0.5);
	text-shadow:0px 1px 0px rgba(255,255,255,0.3);
	height:26px;
	float:left;
	text-align: center;
	cursor:pointer;
	border-right:1px solid rgba(255,255,255,0.4);
	border-left:1px solid rgba(0,0,0,0.4);
	line-height: 23px;
}

ul.ctrl li:hover{
	background: rgb(37,168,208); /* Old browsers */
	background: -moz-linear-gradient(top,  #68c3d7 0%, #4eb0c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68c3d7), color-stop(100%,#4eb0c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #68c3d7 0%,#4eb0c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #68c3d7 0%,#4eb0c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #68c3d7 0%,#4eb0c4 100%); /* IE10+ */
	background: linear-gradient(top,  #68c3d7 0%,#4eb0c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c3d7', endColorstr='#4eb0c4',GradientType=0 ); /* IE6-9 */

}

ul.ctrl li:first-child{
	border-left: none;
	padding-top: 1px;
	height: 25px;
}

#controller {
	height:26px;
	z-index: 11;
	position: relative;
	background: #54b0cb; /* Old browsers */
	background: -moz-linear-gradient(top,  #54b0cb 27%, #3f97b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,#54b0cb), color-stop(100%,#3f97b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* IE10+ */
	background: linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b0cb', endColorstr='#3f97b2',GradientType=0 ); /* IE6-9 */
	z-index: 11;
	box-shadow:0px 3px 9px rgba(0, 0, 0, .3);
	-moz-box-shadow:0px 3px 9px rgba(0, 0, 0, .3);
	-webkit-box-shadow:0px 3px 9px rgba(0, 0, 0, .3);
	margin-bottom:20px;
}

#controller h1 {
	color:#fff;
	font:16px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	margin:0;
	padding:2px 8px;
}
#controller h3#title{
	color:#fff;
	font-size: 15px;
	line-height: normal;
	padding-top: 2px;
	overflow: hidden;
	white-space: nowrap;
	position:absolute;
	left: 95px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
#controller #tooltip{
	color: #242424;
	font: 13px arial, sans-serif;
	font-weight: bold;
	position: absolute;
	left: 95px;
	top: 31px;
}
