html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {

	background: transparent;
}

html {
	background: #ffffff;
	font-size: 62.5%;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: #f3f5f6;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: transparent;
	background-image: url("images/top-left-branding-dev.png");
	background-repeat: no-repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5em;
}

h1, h2, h4, h5, h6 {
	font-family: 'HelveticaNeueW01-77BdCn 692722';
	font-weight: normal;
	color: inherit;
	text-rendering: optimizelegibility;
}
h1 small, h2 small {
	font-weight: normal;
	color: #bfbfbf;
}
h1, .h1  {
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #242424;
}
h2, .h2 {
	font-size: 26px;
	line-height: 40px;
	font-weight: normal;
	color: #242424;
}
h3, .h3 {
	font-family: 'HelveticaNeueW01-55Roma';
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	color: #242424;
}
h4, .h4 {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.25;
}
h5, .h5 {
	font-size: 16px;
	font-size: 1.6rem;
}
h6, .h6 {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.header h1 a, .header h2 a, .header h3 a {
	display: block;
	position: relative;
	top: 6px;
	float: right;
	padding: 4px 12px;
	font-size: 14px;
	font-size: 1.4rem;
	background-color: #f3f5f6;
}
.header h1:hover, .header h2:hover, .header h3:hover {
	background-color: #f3f5f6;
}
.header .a-rss, .header .a-rss:hover {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	background: transparent url(../img/a-rss.png) no-repeat 0 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

p, ol, ul, dl, address, table {
	font-family: 'HelveticaNeueW01-55Roma';
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #7a7a7a;
	text-align: left;
	padding: 0px 5px 0px 5px;
	margin:10px 0 10px 0;
	
	
}
small {
	font-size: 14px;
	font-size: 1.4rem;
}
ul, ol {
	margin: 0 0 1.5em -24px;
	padding: 0 0 0 24px;
}
li ul, li ol {
	margin: 0;
	font-size: 16px;
	font-size: 1.6rem;
}

a {
	text-decoration: none;
	color: #54b0cb;
	-moz-transition: all 0.2s ease-in 0s;
}
a:visited {
	color: #54b0cb;
}
a:hover {
	text-decoration: none;
	color: #242424;
}
a:focus {
	outline: thin dotted;
	color: #000000;
}
a:hover, a:active {
	outline: 0;
}
::-moz-selection {
 background-color: #d6dbe1;
 color: #2d353e;
 text-shadow: none;
}

/*----------------- NEW STYLES ABOVE --------------*/
html, body {
	height:100%;
	padding:0;
	margin:0;
}

*{
	margin:0;
	padding:0;
	list-style-type: none;
}

#wrapper {
	height:100%;
	background: rgb(114,126,139); /* Old browsers */	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727e8b', endColorstr='#4e565f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-position: right top;
}

#wrapper-inner {
	height:100%;
	overflow:hidden;
}

#pagetitle_wrapper {
	padding:2px 5px;
	border-bottom: solid 1px #2A2E32;
	outline: solid 1px #767D83;
}

#pagetitle_wrapper h2 {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	margin-left: 10px;
}

/**
* Content
*/
#content {
	font-size: 0; /* rectify inline-block spacing issue */
}

/* Tutorial */

#model {
	width:100%;
	height: auto;
 	background-color: #000;
	overflow:hidden;
	position:relative; /* allow children to position absolute relative to this */
}

#view {
	width:100%;
	height:40%;
	background-color: #eeeeee;
}

.error{
    border:1px solid red !important;
}

.error_msg{
    color:red !important;
}

/**
* Chapter Number
*/
#chapter-number .inner{
	text-align: center;
	color: #4F5861;
	/* the below tricks it into being vertically centered (in particular, setting height when both top & bottom are set) */
	top: 0px;
	bottom: 0px;
	margin: auto;
	height: 300px;
	width: 70%;
	position: absolute;
	left: 0px;
	right: 0px;
}

#chapter-number h1{
	font: 200px Georgia, serif;
	text-shadow: rgba(255, 255, 255, 0.3) 0px 2px 2px, rgba(0, 0, 0, 0.6) 0px -2px 2px;
	line-height:167px
}

#chapter-number h2{
	font: 20px Georgia, serif;
	font-style: italic;
	text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 1px, rgba(0, 0, 0, 0.6) 0px -1px 1px;
}