/**
 * TOC
 *
 * Note: For the TOC element itself, this file will be used for *style* only.
 *       All *layout* related styling for TOC such as size and position is
 *       included in layout.css
 *       The layout of the *contents* of TOC are however included in this file
 **/


#toc {
	font-family:Trebuchet MS;
	font-size: 12pt;
	background-color:#3D3D3D;
	box-shadow:inset -5px 0 20px rgba(0,0,0,.5);
	-moz-box-shadow:inset -5px 0 20px rgba(0,0,0,.5);
	-webkit-box-shadow:inset -5px 0 20px rgba(0,0,0,.5);
	z-index: 2;
}

#toc dd.content{

	-webkit-transition:height 600ms ease;
	-moz-transition:height 600ms ease;
	z-index: -1;
	margin-top: 1px;
}
#toc dd.extended{

}
#toc a {
	text-decoration:none;
}

#toc dl, #toc dt, #toc dd {
	margin:0;
	padding:0;
}

#toc dl.selected > dt {
	background: #54b0cb; /* Old browsers */
	background: -moz-linear-gradient(top,  #54b0cb 27%, #3f97b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,#54b0cb), color-stop(100%,#3f97b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* IE10+ */
	background: linear-gradient(top,  #54b0cb 27%,#3f97b2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b0cb', endColorstr='#3f97b2',GradientType=0 ); /* IE6-9 */
	box-shadow:0 0 10px rgba(0,0,0,.5);
	-moz-box-shadow:0 0 10px rgba(0,0,0,.5);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,.5);
}
#toc dl:hover > dt{

}

#toc dt{
	position: relative;
}
#toc .level_1{
	padding-left:20px;
}
#toc .level_2{
	padding-left:20px;
}
#toc .level_3{
	padding-left:20px;
}
#toc div.desc{
	padding-bottom:8px;
}
#toc .level_2 .desc{
	height:30px;
	width:200px;
}

#toc dl.selected{
	overflow:hidden;
}
#toc dl.selected.level_1 > dt{
	position: absolute;
	left: 0;
	padding-left: 20px;
	width: 275px;
}
#toc dl.selected.level_2 > dt{
	position: absolute;
	left: 0;
	padding-left: 40px;
	width: 255px;
}
#toc dl.selected.level_2 > dt > i{
	left:26px;
}

#toc dl.selected.level_3 > dt{
	position: absolute;
	left: 0;
	padding-left: 60px;
	width: 235px;
}
#toc dl.selected > dd{
	margin-top: 60px;
}
/**
* Titles
*/

#toc dl.level_1{
	padding-top: 2px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);
	border-top: 1px solid rgba(255, 255, 255, 0.15);
}
#toc dl.level_1 > dd{
	margin-top:0;
}
#toc dl.level_1:first-child{
	border-top: none;
}
#toc dl.level_1:last-child{
	border-bottom: none;
}
#toc .level_1 b,
#toc .level_1 .number{
	font-size:15px;
	color:#b9b9b9;
}
#toc .extended.level_1 > dt > b,
#toc .extended.level_1 > dt > .number{
	font-style:italic;
}
#toc .level_2 b,
#toc .level_3 b{
	font-weight:bold;
	font-size:12px;
	color:#fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

/**
* Hover
*/
#toc dt{
	cursor:pointer;
}
#toc dt span,
#toc dt b{
	-webkit-transition:text-shadow ease 600ms;
	-moz-transition:text-shadow ease 600ms;
}
#toc dt:hover > span,
#toc dt:hover > span.number,
#toc dt:hover > b {
	text-shadow: 0 0 10px rgba(0, 162, 238, 1), 0 0 2px rgba(255, 255, 255, 0.6);
}
#toc dl.level_1 > dt > span,
#toc dl.level_1 > dt > b{
	-webkit-transition:color ease 600ms;
	-moz-transition:color ease 600ms;
	text-shadow:none;
}
#toc dl.level_1:hover > dt > span,
#toc dl.level_1:hover > dt > b{
	text-shadow:none;
	color:#fff;
}
/**
* Numbers
*/
#toc .level_2  span.number,
#toc .level_3  span.number{
	font-weight:bold;
	font-size:12px;
	color:#fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#toc .desc{
	font-size: 11px;
	color:rgba(255,255,255,.5);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	line-height:1.4em;
}

#toc .selected > dt > .desc{
	color:rgba(255,255,255,.9);
}

/**
* Extending / Collapsing
*/
#toc .collapsed.content{
	height:0;
	overflow:hidden;
}

/**
* Search Input
*/
.search_input{
	border-radius: 50px;
	border: 2px inset rgba(100, 100, 100, 0.3);
	height: 19px;
	margin: 5px;
	box-shadow: inset 2px 2px 3px rgba(0,0,0,0.3);
}
.search_input input{
	background-color: transparent;
	border-width: 0px 0px 0px 0px;
	margin-left: 30px;
	color: white;

}

/**
* Arrow
*/
#toc dl i{
	width: 0;
	height: 0;
	position: absolute;
	left: -14px;
	top: 6px;
	border-left: 6px solid #66cccc;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	-webkit-transition: -webkit-transform ease 700ms;
	-moz-transition: -webkit-transform ease 700ms;
}

#toc dl.selected i {
	border-left-color: #ffffff;
}

#toc dl.level_1 > dt > i{
	border-left-color: #fff;
}

#toc dl.extended > dt > i{
	-webkit-transform:rotate(90deg);
}
