/**
 * Tutorial
 *
 * Note: For the Tutorial wrapper element itself, this file will be used for
 *       *style* only.
 *       All *layout* related styling for Tutorial wrapper such as size and
 *       position is included in layout.css
 *       The layout of the *contents* of Tutorial are however included in this file
 **/

/**
* UI Controls
*/

#tutorial_slider{
	height:100%;
	width:10px;
	cursor:w-resize;
	z-index: 10;
	position: relative;
	float: right;
	background-image:url('images/drag_dots.png');
	background-color: #D8D8D8;
	background-repeat: no-repeat;
	background-position: center center;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	border-left: 1px solid rgba(255, 255, 255, 0.7);
}

ul.ctrl{
	list-style-type: none;
	padding:0;
	float:left;
	height:26px;
	border-right:1px solid rgba(0,0,0,0.4);
	margin-right: 10px;
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


#tutorial {
	background-color: #fcfcfc;
	z-index: 2;
	overflow:hidden;
	min-width: 400px;
	box-shadow: -5px 10px 20px rgba(0,0,0,.5);
	-moz-box-shadow: -5px 10px 20px rgba(0,0,0,.5);
	-webkit-box-shadow: -5px 10px 20px rgba(0,0,0,.5);
}

#tutorial{
	-webkit-transition: box-shadow ease 600ms;
	-moz-transition: box-shadow ease 600ms;	
}

#tutorial_content {
	margin-bottom: 10px;
	font:13px "Lucida Sans", sans-serif;
	margin: 30px 20px 10px 20px;
	font-size:13px;
	height:300px;
	color:#414141;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	line-height:1.4em;
}


#tutorial_content img{
	width:80%;
	margin:20px 0;
}

#tutorial_content h1,
#tutorial_content h2,
#tutorial_content h3,
#tutorial_content h4,
#tutorial_content h5,
#tutorial_content h6{
	margin:10px 0;
}

#tutorial_content .codesample{
	background:#fafafa;
	padding:10px;
	margin-bottom: 15px;
	background-color: #2D2D2D;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-shadow: none;
	color: #fff;
}

#tutorial_content .codesample .jspHorizontalBar{
	height:8px;
}
#tutorial_content .jspContainer:hover > .jspVerticalBar .jspDrag,
#tutorial_content .jspContainer:hover > .jspHorizontalBar .jspDrag,
#toc .jspContainer:hover > .jspVerticalBar .jspDrag,
#toc .jspContainer:hover > .jspHorizontalBar .jspDrag{
	opacity:0.4;
}

#tutorial_content .jspContainer .jspHorizontalBar .jspDrag,
#toc .jspContainer .jspHorizontalBar .jspDrag{
	/* fix bug in jscrollpane style where bottom bar is ridiculously wide */
	height: 8px;
	margin:4px;
}

#tutorial_content  .jspDrag, 
#toc .jspDrag{
	background:#fff;
	opacity:0;
	box-shadow:none;
}

#tutorial_content .jspDrag:hover
#toc .jspDrag:hover{
	opacity:1;
}

#tutorial_content .codesample > pre{
	margin:10px;
}

/**
* From old stles (PM)
*/
#tutorial_content p {
	margin-bottom:18px;
}

#tutorial_content h1 {
	font-size:1.6em;
}

#tutorial_content dt {
	font-weight:bold;
}

#tutorial_content dd {
	margin-bottom:10px;
}
#tutorial_content ul {
        margin:20px;
}

#tutorial_content li {
        margin-bottom:10px;
}

#tutorial_content a{
	color:#069;
}

#tutorial_content code, #tutorial_content a[target=jsdoc] {
	color: #222;
}

.warning, .info {
	padding:7px 7px 7px 40px;
	position:relative;
}
#tutorial_content p .icon{
	font-family: ModernPictogramsNormal;
	font-size: 30px;
	position: absolute;
	left:5px;
	top:14px;
}

#oldbrowseralert{
	margin: 0 auto;
	padding: 0px;
}

#oldbrowseralert div {
	margin: 8px 35px 8px 8px;
}

.alert {
	margin-bottom: 1.5em;
	padding: 8px 35px 8px 14px;
	background-color: #fcf8e3;
	border: 1px solid #f2e187;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #9c8611;
}

.alert-error {
	text-align:center;
	background-color: #FFE6E6;
	border: 1px solid #EBA19E;
	color: #DA4F49;
	margin-bottom: 0px;
}

strong {
	font-weight: bold;
}
