body {
    background-color: #eee;
}

.app {
    background-color:white;
    max-width:500px;
    margin:20px auto;
    padding: 5px 20px;
}

.br-logo {
    text-align: center;
}
.br-logo img {
    width:50px;
}
