<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<security-role>
		<role-name>user</role-name>
	</security-role>
	
	<security-constraint>
		<web-resource-collection>
		<web-resource-name>Application</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Login Section</web-resource-name>
			<url-pattern>/login/*</url-pattern>
		</web-resource-collection>
	</security-constraint>
	
	<!--  TODO: understand why bladerunner (jetty) needs to know which realm name is in use, whereas other java web servers don't -->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>BladeRunnerLoginRealm</realm-name>
		<form-login-config>
			<!-- TODO: see if it's possible to have the same config for both Tomcat and Jetty -->
			<!-- Tomcat does not 302 redirect to /APP_CONTEXT/login as search engines don't like 302's but Jetty does hence the two form-login-pages -->
			<!-- start-env: prod
			<form-login-page>/login/unbundled-resources/redirect.html</form-login-page>
			end-env -->
			<!-- start-env: dev -->
			<form-login-page>/login/</form-login-page>
			<!-- end-env -->
			<form-error-page>/login/</form-error-page>
		</form-login-config>
	</login-config>
	
	<!-- This APP.VERSION entry will be enabled and defined after exporting to WAR. During development APP.VERSION 
		 is automatically generated to avoid caching. Must be in the format v_1234 -->
	<!-- start-env: prod
	<env-entry>
		<env-entry-name>APP.VERSION</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>%@APP.VERSION@%</env-entry-value>
	</env-entry>
	end-env -->
	
	
	<!-- start-env: dev -->
	<filter>
		<filter-name>cutlass-dev-filters</filter-name>
		<filter-class>com.caplin.cutlass.filter.BladerunnerDevFilters
		</filter-class>
	</filter>
    <filter-mapping>
		<filter-name>cutlass-dev-filters</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- end-env -->
	
	<filter>
		<filter-name>cutlass-filters</filter-name>
		<filter-class>com.caplin.cutlass.filter.BladerunnerFilters</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>cutlass-filters</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<!-- start-env: prod
	<filter>
		<filter-name>cutlass-prod-filters</filter-name>
		<filter-class>com.caplin.cutlass.filter.BladerunnerProdFilters
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>cutlass-prod-filters</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	end-env -->
	
</web-app>
