.bladesets {
	text-align: center;
	
	overflow: auto;
	width: 544px;
	position: relative;
	top: 20px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 2px;
	z-index: 1;
	border-color: white;
	border-radius: 5px;
	/* -webkit-filter: grayscale(70%);  */
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;

	
     box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.3),
	 			 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
				
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow:   0px 1px 1px 1px rgba(0, 0, 0, 0.3),
	 					 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
	 
	-moz-box-shadow:   0px 1px 1px 1px rgba(0, 0, 0, 0.3),
	 					 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.bladeset{
position:relative;
	left: 20px;
	width: 500px;
	margin-bottom: 10px;	
}

/*
.bladeset:hover{
	background-color: #0CF;
	display: inline-block;
	width: auto;
	height: auto;
	
}
*/

.bladeset-title{
	margin-top:20px;
	width: 460px;
	border:solid;
	border-width: 1px;
	border-color:transparent;
	border-bottom-color:#999999;
	background-image:url(img/bladeset-folder.png);
	background-repeat: no-repeat;
	background-position:left;
	padding-left: 38px;
	font-family: "HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
	color:#474747;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	font-size:32px;
	text-align:left;
}


.bladeset-menu {
	padding-top: 15px;
	visibility:hidden;
	display: none;
}

.blade-menu {
	float: right;
	visibility:hidden;
	display: none;
}

.blade:hover .blade-menu {
	visibility: visible;
	display:inline;
}

.bladeset-title:hover .bladeset-menu {
	float: right;
	visibility: visible;
	display:inline;
}


.test-item {
	background-image: url(img/test-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -9px;
	color: #666;
	text-decoration: none;
	float: right;
	font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	margin-right: 0px;
	padding-right: 15px;
	padding-left: 28px;
	cursor: pointer;
}

.workbench-item{
	background-image: url(img/workbench-icon_up.png);
	background-repeat: no-repeat;
	background-position: 0px -10px;
	color: #666;
	text-decoration: none;
	float: right;
	font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	margin-right: 0px;
	padding-right: 15px;
	padding-left: 28px;
	-webkit-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3), 2px 0px 0px rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3), 2px 0px 0px rgba(255, 255, 255, 0.8);
	box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3), 2px 0px 0px rgba(255, 255, 255, 0.8);
	cursor: pointer;
}


.test-item:hover {
	color: #000;
	cursor: pointer;
}

.workbench-item:hover {	
	color: #000;
	cursor: pointer;
}

.add-blade-item {
	background-image: url(img/add-blade-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -10px;
	color: #666;
	text-decoration: none;
	float: right;
	font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	margin-right: 0px;
	padding-right: 15px;
	padding-left: 28px;
	-webkit-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3), 2px 0px 0px rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3), 2px 0px 0px rgba(255, 255, 255, 0.8);
	box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3), 2px 0px 0px rgba(255, 255, 255, 0.8);
}

.add-blade-item:hover {
	color: #000;
	cursor: pointer;
}

/*.bladeset-title:hover {
	display: inline;
	background-color:#a9d7e5;
	height:300px;
	z-index: 20;
}*/



.hover{
	cursor:default;
	background: #d0ebf2;
	position:relative;
	width: 505px;
	left: 20px;
	border-radius: 5px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
}

.blade{
	background: none;
	border-radius: 5px;
	cursor: default;
	margin-top: 5px;
	margin-left: 0px;
	width: 480px;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-left: 10px;
	font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
	color: #474747;
	font-size: 14px;
	text-align: left;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;	
}

.blade:hover{
	background: #d0ebf2;
	padding-left: 20px;
	
	
	
}

.bladesetPlaceHolder {
	display: none;
}

.bladesetPlaceHolder:only-child {
	display: block;
	height: 100px;
	width: 100%;
	display: block;
	height: 100px;
	width: 100%;
	font-family: 'NimbusSanCon-Bol', Arial, sans-serif;
	color: inherit;
	font-size: 24px;
	color: #CCC;
	text-shadow: /*0px -1px 0px rgba(0, 0, 0, 0.9),*/ 0px 1px 0px rgba(255, 255, 255, 0.7);
	line-height: 98px;
}

.bladeset .blades .bladePlaceHolder{
	display: none;
}

.bladeset .blades .bladePlaceHolder:only-child  {
	display: block;
	width: 100%;
	height: 32px;
	font-family: 'NimbusSanCon-Bol', Arial, sans-serif;
	color: inherit;
	font-size: 21px;
	color: #CCC;
	text-shadow: /*0px -1px 0px rgba(0, 0, 0, 0.9),*/ 0px 1px 10px rgba(255, 255, 255, 0.9);
	text-align: left;
	text-indent: 61px;
	line-height: 29px;
}
