<!DOCTYPE html>
<html>
	<head>
		<base href="@APP.VERSION@"/>
		
		<title>My Application</title>
		
		<@css.bundle theme="standard"@/>
		
	</head>
	<body>
		<@js.bundle@/>
		<script>
			( function() {
				br.thirdparty('br-caplin');
				
				var ServiceRegistry = require( 'br/ServiceRegistry' );
				var DemoEventHub = require( 'br/DemoEventHub' );
				ServiceRegistry.registerService( 'demo-event-hub', new DemoEventHub() );
				
				var oApp = new @appns.App();
			} )();
		</script>
	</body>
</html>