<!DOCTYPE html>
<html>
	<head>
		<@base.tag@/>
		<meta charset="UTF-8">

		<title>My Application</title>

		<@css.bundle theme="black" alternateTheme="red" @/>

	</head>
	<body>

		<div class="app">
			<h1 id="hello-world"></h1>
			<p>Add any new code for your app to src/@appns/App.js</p>
			<div class="br-logo">
				<!-- 'unbundled-resources' can be used for any assets you don't want part of the BRJS bundling process. -->
				<img src="unbundled-resources/br-logo.png" />
			</div>
		</div>

		<@i18n.bundle @/>
    	<!-- dev-minifier can be set to "combined" for all JS content to be bundled with a single request -->
		<@js.bundle dev-minifier="none" prod-minifier="combined"@/>
		<script>
			( function() {
				var App = require( '@appns/App' );
				var app = new App();
			} )();
		</script>
	</body>
</html>
