<web-app>
      <servlet>
          <servlet-name>RestAPIServlet</servlet-name> 
          <servlet-class>com.caplin.cutlass.app.servlet.RestApiServlet</servlet-class> 
          <load-on-startup>1</load-on-startup> 
      </servlet>
      <servlet-mapping>
          <servlet-name>RestAPIServlet</servlet-name> 
          <url-pattern>/servlet/app-manager/*</url-pattern> 
      </servlet-mapping>

	<!-- start-env: dev -->
      <filter>
          <filter-name>BladerunnerDevFilters</filter-name> 
          <filter-class>com.caplin.cutlass.filter.BladerunnerDevFilters</filter-class> 
      </filter>
      <!-- <filter-mapping>
          <filter-name>BladerunnerDevFilters</filter-name> 
          <url-pattern>/*</url-pattern> 
          <dispatcher>REQUEST</dispatcher>
          <dispatcher>FORWARD</dispatcher>
      </filter-mapping> -->
       <!--  end-env -->

	<filter>
          <filter-name>BladerunnerFilters</filter-name> 
          <filter-class>com.caplin.cutlass.filter.BladerunnerFilters</filter-class> 
      </filter>
      <filter-mapping>
          <filter-name>BladerunnerFilters</filter-name> 
          <url-pattern>/*</url-pattern> 
          <dispatcher>REQUEST</dispatcher>
          <dispatcher>FORWARD</dispatcher>
      </filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/x-font-woff</mime-type>
	</mime-mapping>
	
	<servlet>
		<servlet-name>BRJSServlet</servlet-name>
		<servlet-class>org.bladerunnerjs.appserver.BRJSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BRJSServlet</servlet-name>
		<url-pattern>/brjs/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>BRJSFilter</filter-name> 
		<filter-class>org.bladerunnerjs.appserver.BRJSServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BRJSFilter</filter-name> 
		<url-pattern>/*</url-pattern> 
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
</web-app>